/* Estilos de la pagina imagenes */
/* ========================================== */

.tabla {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
    grid-template-columns: repeat(auto-fit,
            minmax(320px,
                1fr));
    gap: 10px;
    text-decoration: none;
    list-style-type: none;
    padding: 0px;
}

.imagenes {
    width: 100%;
    height: auto;
    border-radius: 5px;
}