/* Estilos de la pagina index */
/* ============================================= */

body,
html {
    height: 100%;
}

#portada,
.portada {
    background-size: cover;
    background-image: url(../images/portada.jpg);
    min-height: 50%;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portada-titulo {
    font-family: 'Shadows Into Light', cursive;
    font-weight: 500;
    color: $color-letras;
    font-size: 2rem;
    background-color: #222323;
    opacity: 100%;
}

main {
    font-family: 'Roboto', sans-serif;
    min-height: 40vh;
}


.titulo {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

@mixin font($font) {
    font-size: $font !important;
}

// Mapa
$titulo-name:(
    secundario: 0.83em,
    terciario: 1em
);

// each para el mapa, extend, include mixin e if
@each $name, $size in $titulo-name{
    .titulo-#{$name}{
        @extend .titulo;
        @if ($name == secundario)
        {
            @include font(1.5)
        }
        @if ($name == terciario)
        {
            @include font(1.2)
        }
        margin-block-start: $size;
        margin-block-end: $size;
    }
};

.presentacion {
    text-align: center;
}

#reserva {
    text-align: center;
    margin-bottom: 20px;
}

.reserva-form-campo {
    display: flex;
    justify-content: center;

    label {
        width: 80px;
    }
}

@media screen and (min-width: 768px) {
    .nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #portada,
    .portada {
        background-size: auto;
    }
}