/* Estilos de la pagina ubicacion */
/* ========================================== */
.ubicacion-contenedor {
    text-align: center;
    border: $border $color-letras;
    width: auto;
}

.mapa {
    width: 80%;
    height: 500px;
}